@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.woff2') format('woff2'),
        url('Comfortaa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

